# Getting started

### CLEF 2025 - CheckThat! Lab  - Task 4 Scientific Web Discourse - Subtask 4b (Scientific Claim Source Retrieval)

This notebook enables participants of subtask 4b to quickly get started. It includes the following:
- Code to upload data, including:
    - code to upload the collection set (CORD-19 academic papers' metadata)
    - code to upload the query set (tweets with implicit references to CORD-19 papers)
- Code to run a baseline retrieval model (BM25)
- Code to evaluate the baseline model

Participants are free to use this notebook and add their own models for the competition.

# 1) Importing data

In [2]:
import numpy as np
import pandas as pd

## 1.a) Import the collection set
The collection set contains metadata of CORD-19 academic papers.

The preprocessed and filtered CORD-19 dataset is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [3]:
# 1) Download the collection set from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_COLLECTION_DATA = 'data/subtask4b_collection_data.pkl' #MODIFY PATH

In [4]:
df_collection = pd.read_pickle(PATH_COLLECTION_DATA)

In [5]:
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [6]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

## 1.b) Import the query set

The query set contains tweets with implicit references to academic papers from the collection set.

The preprocessed query set is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [7]:
# 1) Download the query tweets from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_QUERY_TRAIN_DATA = 'data/subtask4b_query_tweets_train.tsv' #MODIFY PATH
PATH_QUERY_DEV_DATA = 'data/subtask4b_query_tweets_dev.tsv' #MODIFY PATH

In [8]:
df_query_train = pd.read_csv(PATH_QUERY_TRAIN_DATA, sep = '\t')
df_query_dev = pd.read_csv(PATH_QUERY_DEV_DATA, sep = '\t')

In [9]:
df_query_train.head()

   post_id                                         tweet_text  cord_uid
0        0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1        1  this study isn't receiving sufficient attentio...  4kfl29ul
2        2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3        3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4        4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [10]:
df_query_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12853 entries, 0 to 12852
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     12853 non-null  int64
 1   tweet_text  12853 non-null  object
 2   cord_uid    12853 non-null  object
dtypes: int64(1), object(2)
memory usage: 301.4+ KB

In [11]:
df_query_dev.head()

   post_id                                         tweet_text  cord_uid
0       16  covid recovery: this study from the usa reveal...  3qvh482o
1       69  "Among 139 clients exposed to two symptomatic ...  r58aohnu
2       73  I recall early on reading that researchers who...  sts48u9i
3       93  You know you're credible when NIH website has ...  3sr2exq9
4       96  Resistance to antifungal medications is a grow...  ybwwmyqy

In [12]:
df_query_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     1400 non-null   int64
 1   tweet_text  1400 non-null   object
 2   cord_uid    1400 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.9+ KB

# 2) Running the baseline
The following code runs a BM25 baseline.

In [13]:
# !pip install rank_bm25
from rank_bm25 import BM25Okapi

In [14]:
# Create the BM25 corpus
corpus = df_collection[:][['title', 'abstract']].apply(lambda x: f"{x['title']} {x['abstract']}", axis=1).tolist()
cord_uids = df_collection[:]['cord_uid'].tolist()
tokenized_corpus = [doc.split(' ') for doc in corpus]
bm25 = BM25Okapi(tokenized_corpus)

In [21]:
df_collection[df_collection['cord_uid'] == '4kfl29ul']['abstract'].tolist()

['BACKGROUND: In the United States, non-Hispanic Black (NHB), Hispanic, and non-Hispanic American Indian/Alaska Native (NHAIAN) populations experience excess COVID-19 mortality, compared to the non-Hispanic White (NHW) population, but racial/ethnic differences in age at death are not known. The release of national COVID-19 death data by racial/ethnic group now permits analysis of age-specific mortality rates for these groups and the non-Hispanic Asian or Pacific Islander (NHAPI) population. Our objectives were to examine variation in age-specific COVID-19 mortality rates by racial/ethnicity and to calculate the impact of this mortality using years of potential life lost (YPLL). METHODS AND FINDINGS: This cross-sectional study used the recently publicly available data on US COVID-19 deaths with reported race/ethnicity, for the time period February 1, 2020, to July 22, 2020. Population data were drawn from the US Census. As of July 22, 2020, the number of COVID-19 deaths equaled 68,377 for NHW, 29,476 for NHB, 23,256 for Hispanic, 1,143 for NHAIAN, and 6,468 for NHAPI populations; the corresponding population sizes were 186.4 million, 40.6 million, 2.6 million, 19.5 million, and 57.7 million. Age-standardized rate ratios relative to NHW were 3.6 (95% CI 3.5, 3.8; p < 0.001) for NHB, 2.8 (95% CI 2.7, 3.0; p < 0.001) for Hispanic, 2.2 (95% CI 1.8, 2.6; p < 0.001) for NHAIAN, and 1.6 (95% CI 1.4, 1.7; p < 0.001) for NHAP populations. By contrast, NHB rate ratios relative to NHW were 7.1 (95% CI 5.8, 8.7; p < 0.001) for persons aged 25–34 years, 9.0 (95% CI 7.9, 10.2; p < 0.001) for persons aged 35–44 years, and 7.4 (95% CI 6.9, 7.9; p < 0.001) for persons aged 45–54 years. Even at older ages, NHB rate ratios were between 2.0 and 5.7. Similarly, rate ratios for the Hispanic versus NHW population were 7.0 (95% CI 5.8, 8.7; p < 0.001), 8.8 (95% CI 7.8, 9.9; p < 0.001), and 7.0 (95% CI 6.6, 7.5; p < 0.001) for the corresponding age strata above, with remaining rate ratios ranging from 1.4 to 5.0. Rate ratios for NHAIAN were similarly high through age 74 years. Among NHAPI persons, rate ratios ranged from 2.0 to 2.8 for persons aged 25–74 years and were 1.6 and 1.2 for persons aged 75–84 and 85+ years, respectively. As a consequence, more YPLL before age 65 were experienced by the NHB and Hispanic populations than the NHW population—despite the fact that the NHW population is larger—with a ratio of 4.6:1 and 3.2:1, respectively, for NHB and Hispanic persons. Study limitations include likely lag time in receipt of completed death certificates received by the Centers for Disease Control and Prevention for transmission to NCHS, with consequent lag in capturing the total number of deaths compared to data reported on state dashboards. CONCLUSIONS: In this study, we observed racial variation in age-specific mortality rates not fully captured with examination of age-standardized rates alone. These findings suggest the importance of examining age-specific mortality rates and underscores how age standardization can obscure extreme variations within age strata. To avoid overlooking such variation, data that permit age-specific analyses should be routinely publicly available.']

In [15]:
def get_top_cord_uids(query):
  text2bm25top = {}
  if query in text2bm25top.keys():
      return text2bm25top[query]
  else:
      tokenized_query = query.split(' ')
      doc_scores = bm25.get_scores(tokenized_query)
      indices = np.argsort(-doc_scores)[:5]
      bm25_topk = [cord_uids[x] for x in indices]

      text2bm25top[query] = bm25_topk
      return bm25_topk

In [16]:
# Retrieve topk candidates using the BM25 model
df_query_train['bm25_topk'] = df_query_train['tweet_text'].apply(lambda x: get_top_cord_uids(x))
df_query_dev['bm25_topk'] = df_query_dev['tweet_text'].apply(lambda x: get_top_cord_uids(x))

In [17]:
df_query_train['bm25_topk']

0        [htlvpvz5, h7hj64q5, rwgqkow3, dbgtslc8, am11y...
1        [2cwvga0k, 33znyrn8, st3fyb64, 74dw6emg, b68c8...
2        [8hkxbxz9, w98847ai, jtwb17u8, iy1enazk, pg0l9...
3        [32ua8wb6, zxe95qy9, 30pl5tx3, l4y7v729, b97ac...
4        [tiqksd69, k7smwz6w, b0dzhsrh, yc7cvbii, iiafu...
                               ...
12848    [l9lni5d3, qfrenkb6, wnlse824, jgq968f6, l69kw...
12849    [s2bpha8l, 8a3fp7ym, eie9cozf, 5nt99kyu, o3pvs...
12850    [2d2y5gmg, ps5crd29, ogx40z8c, 9rxv6fy9, lavcs...
12851    [t4y1ylb3, 7a543f7v, b5eve7re, 02p4et0u, u89jd...
12852    [nlsv8bin, l3k9bb5m, rrykpl0f, ucpdyk7z, cwqsb...
Name: bm25_topk, Length: 12853, dtype: object

# 3) Evaluating the baseline
The following code evaluates the BM25 retrieval baseline on the query set using the Mean Reciprocal Rank score (MRR@5).

In [ ]:
# Evaluate retrieved candidates using MRR@k
def get_performance_mrr(data, col_gold, col_pred, list_k = [1, 5, 10]):
    d_performance = {}
    for k in list_k:
        data["in_topx"] = data.apply(lambda x: (1/([i for i in x[col_pred][:k]].index(x[col_gold]) + 1) if x[col_gold] in [i for i in x[col_pred][:k]] else 0), axis=1)
        #performances.append(data["in_topx"].mean())
        d_performance[k] = data["in_topx"].mean().item()
    return d_performance

In [23]:
results_train = get_performance_mrr(df_query_train, 'cord_uid', 'bm25_topk')
results_dev = get_performance_mrr(df_query_dev, 'cord_uid', 'bm25_topk')
# Printed MRR@k results in the following format: {k: MRR@k}
print(f"Results on the train set: {results_train}")
print(f"Results on the dev set: {results_dev}")

Results on the train set: {1: np.float64(0.5081303975725512), 5: np.float64(0.5509777224513084), 10: np.float64(0.5509777224513084)}
Results on the dev set: {1: np.float64(0.505), 5: np.float64(0.5519166666666666), 10: np.float64(0.5519166666666666)}

# 4) Exporting results to prepare the submission on Codalab

In [24]:
df_query_dev['preds'] = df_query_dev['bm25_topk'].apply(lambda x: x[:5])

In [ ]:
df_query_dev[['post_id', 'preds']].to_csv('output/predictions_baseline.tsv', index=None, sep='\t')